<div class="page-header text-center">
    <h1>{{person.name}}</h1>
</div>


<form novalidate name="formulario" class="row" >
    <div class="col-md-6">
        
        <div class="form-group">
            <label>Street: {{person.street}}" </label>
                   
        </div>
        <div class="form-group">
            <label>Number: {{person.number}}</label>
            
        </div>    
        <div class="form-group">
            <label>Neighborhood: {{person.neighborhood}} </label>
        </div>
        <div class="form-group">
            <label>City: {{person.city}}</label>
        </div>
        <div class="form-group">
            <label>State: {{person.state}} </label>
        </div>
        <div class="form-group">
            <label>Cellphone: {{person.cellphone}}</label>
        </div>
        <div class="form-group">
            <label>Phone: {{person.phone}}</label>
        </div>
        


         <a href="/" meu-focus class="btn btn-primary">Voltar</a>
        <hr>
    </div>
    
</form>